* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

.centered {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
}

.developer-image {
    width: 200px;
    height: auto;
    margin-top: 20px;
}
